.badge {
  padding: 4px 6px;

  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  // background: rgb(216, 255, 202);
  // opacity: 0.6;
  color: #575757;

  @include mobile {
    padding: 4px;
    font-size: 10px;
  }
}

.container {
  display: flex;
  // gap: 6px;

  // padding-top: 10px;
}
