.container {
  width: 100%;
  max-width: var(--notion-max-width);

  padding: 20px 0;
}

.title {
  padding: 30px 0 0px;
  margin-bottom: -10px;

  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  // @include gradient-text($primary-normal);

  @include mobile {
    font-size: 36px;
  }
}

.thumbnail {
  width: 100%;

  border-radius: 10px;
  object-fit: cover;
}
