*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: $color-white;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: $color-white;
}

::-webkit-scrollbar {
  display: none;
}
