*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #1e1e1e;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #1e1e1e;
}

::-webkit-scrollbar {
  // display: none;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #1e1e1e;
}

.notion-page {
  background-color: #fff;
  @media (min-width: 860px) {
    border: 1px solid #a4a4a4;
    border-radius: 20px;
    margin-top: 50px;
    padding: 1rem 3rem;
  }
}

.notion-code {
  border-radius: 10px;
}

.notion-text {
  font-size: 15px !important;
  color: #1e1e1e;
}

.notion-h2 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.8rem;
  // background: linear-gradient(45deg, #18b5d4 0%, #7a6bff 100%);
  background: linear-gradient(45deg, #18b5d4 0%, #6bffb5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.notion-h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 40px 0 10px;
  background: linear-gradient(45deg, #18b5d4 0%, #6bffb5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  opacity: 0;
}

.notion-inline-code {
  background-color: rgb(241, 243, 245);
  color: rgb(64, 64, 64);

  b {
    font-weight: 500;
  }
}

.notion-collection-row-property .notion-collection-column-title {
  display: none;
}

.notion-collection-row-body {
  flex-direction: row;
}

.maybe-class-name {
  color: #c5009d;
}

.notion-text {
  font-size: 16.7px;
  color: rgb(25, 25, 25);
  line-height: 1.73;
}

pre[class*='language-'] {
  margin: 30px 0;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #404040;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: rgb(241, 243, 245);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #404040;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #a60006;
}

.token.function-name {
  color: #387fc7;
}

.token.boolean,
.token.number,
.token.function {
  color: #940054;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #c5009d;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #258992;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #00a03d;
}

.token.operator,
.token.entity,
.token.url {
  color: #c08000;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

.notion-collection-row {
  margin-bottom: 30px;
  opacity: 0.7;
}

.notion-quote {
  border-left: 2px solid currentColor;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: #888;
  line-height: 0.9;
}

.notion-list {
  li {
    padding: 2px 0;
  }
}

.notion-asset-caption {
  font-size: 12px;
}
